@import '/src/assets/styles/variables';
input[type='checkbox'] {
  appearance: none;
  width: 1.6em;
  height: 1.6em;
  border-radius: 0.15em;
  margin-right: 0.5em;
  border: 1px solid $green;
  outline: none;
  cursor: pointer;
}
label span {
  cursor: pointer;
  position: relative;
  top: -5px;
}
input[type='checkbox'].checked {
  position: relative;
  background-color: $green;
}
input[type='checkbox'].checked::before {
  content: '✓';
  position: absolute;
  font-size: 1.5em;
  color: #fff;
  right: 1px;
  top: -5px;
}
input[type='checkbox']:focus {
  outline: none;
  box-shadow: 0 0 0 0.9px $green;
}
